.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
  @media (max-width:768px) {
    width: 100%;
  padding: 5px;
  margin-top: 0px;

  }
}
.content {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 30px;
  @media (max-width:768px) {
  padding: 0px;
  margin: 0px;
  }
}
.item {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;

}
select, input{
  width: 400px;
  border: 1px solid #eee;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
  @media (max-width:768px) {
    width: 100%;
  }
}
.button> button {
  width: 400px;
  border: 1px solid #eee;
  padding: 20px;
  margin: 40px;
  border-radius: 5px;
  background-color:#EDBC64;
  cursor: pointer;
  font-weight: 900;
  @media (max-width:768px) {
    width: 100%;
    margin: 0px;
  }
}
h1, h5{
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  margin: 40px 0px;
  @media (max-width:768px) {
    text-wrap:wrap;
    padding: 5px;
  }
}
.footer {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}

.how-it-work-section{
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  @media (max-width:768px) {
    padding: 0px;
  }
}
.card {
  width: 66%;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 18px;
  @media (max-width:768px) {
    width: 98%;
  }
}
